# Entornos virtuales de Python
venv/
*/venv_frutas/

# Archivos y carpetas de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Modelos pesados
*.h5
*.tflite
*.pkl

# Archivos temporales y del sistema
.DS_Store
Thumbs.db

# Archivos de TensorFlow o OpenCV pesados
*.dll
*.so
*.pyd

# node_modules (si usas algún tooling de JS)
node_modules/

# Archivos del sistema
.env
*.env

# Directorios del dataset
Reconocimiento/datasets/
